body {
    margin:0px;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    
}

/* ----------------------- Header -----------------------*/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    background-color: #1F2937;
    color: white;
}

.header-content {
    width: 1100px;
    display: flex;
    justify-content: space-between;
}

.header-link-text {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    gap: 16px;
    color:#e5e7eb;
    font-size: 18px;

}

.header-logo-text {
    font-size: 24px;
    color:#f9faf8;
    font-weight: bold;
}
/* ----------------------- Presentation -----------------------*/

.presentation {
    display: flex;
    height: 500px;
    background-color:#1F2937;
    justify-content: center;
    align-items: center;
}

.presentation-content {
    display: flex;
    width: 1090px;
    height: 240px;
    justify-content: space-between;
    

}

.presentation-content-text {
    display: flex;
    flex: none;
    flex-direction: column;
    width: 500px;
    justify-content: space-between;

}

.presentation-content-image {
    background-color: grey;
    display: flex;
    width: 550px;
}

.presentation-title {
    margin: 0;
    font-weight:800;
    color: #f9faf8;
    font-size: 48px;
}

.presentation-subtext {
    color:white;
    font-weight:normal;
    color:#e5e7eb;
    font-size: 18px;
}

.presentation-button {
    width: 130px;
    height: 38px;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    font-weight:bold;
    font-size: 18px;
    border:0;
}


/* ----------------------- Colaborators -----------------------*/


.colaborators {
    display: flex;
    height: 500px;
    background-color:white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.colaborators-title {
    margin-top: -100px;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.colaborators-content {
    display: flex;
    width: 900px;
    justify-content: space-between;
    gap:0px;
    align-items: center;    
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    height: 250px;
    flex:auto
}

.profile-pic {
    height: 160px;
    width: 160px;
    flex: none;
    border: 4px solid #3882f6;
    border-radius: 15px;
}

.colaborators-text {
    text-align: center;
    width: 170px;
    color: rgb(73, 73, 73);
    font-size: 18px;
}


/* ----------------------- Quote -----------------------*/


.quote {
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.quote-content {
    display: flex;
    flex-direction: column;
    width: 850px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.quote-name {
    align-self: flex-end;
    font-size: 23px;
    font-weight: bold;
    padding-right: 100px;
    color: #1F2937;

}

/* ----------------------- Trash -----------------------*/


.buy {
    display: flex;
    height: 500px;
    background-color:white;
    justify-content: center;
    align-items: center;
}

.buy-content {
    display: flex;
    width: 900px;
    background-color: #3882f6;
    justify-content: space-between;
    padding: 50px 150px;
    color: white;
    border-radius: 10px;
}

.buy-button {
    width: 140px;
    height: 42px;
    align-self: center;
    color: white;
    background-color: #3882f6;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding:10px;
    font-weight: 800;
    font-size: 18px;
}

.buy-title {
    margin: 0;
    font-size: 24px;
}

.buy-subtitle {
    margin: 0;
    font-weight: normal;
}





/* ----------------------- footer -----------------------*/


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #1F2937;
    color:white;
    font-size: 18px;
}